html {
    margin: o;
    padding: 0;
    height: 100%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 82vw;
    max-width: 1200vw;
    min-width: 400px;
    margin: 0 auto;
}

body {
    background-color: #aad4cf;
    padding-bottom: 2rem;
}


.container {
    background-image: url("../images/lone-starfish-wide.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    width: 100vw;
    max-width: 1200vw;
    min-width: 20vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center center;
    margin: 0 auto;
}

/* .overlay-text {
    text-align: center;
    width: 100%;
} */

.overlay-text h1 {
    color: white;
    padding-top: 9rem;
    text-align: center;
    display: flex;
    font-size: 6vw;
    margin: 0 auto;
    flex-grow: 1;
    /* position: relative; */
}

.body-container {
    background-color: #D4E9E7;
    background-position: center center;
    width: 82vw;
    max-width: 1200px;
    min-width: 400px;
    margin: 0 auto;
    padding-bottom: 2rem;
    /* padding-top: none; */
}

.flex-container {
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.navigation {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    list-style: none;
}

.navigation li {
    text-transform: uppercase;
    text-align: center;
    line-height: 2rem;
    font-size: 1.1rem;
    color: #404441;
    margin: 0 2rem;
    padding: 0.1rem;
    flex-grow: 1;
}

.navigation li:nth-child(2) {
    border-left: 1px solid #404441;
    border-right: 1px solid #404441;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    margin: 0;
}


h2 {
    font-size: 1.4rem;
    margin-left: 0.2em;
    padding-top: 2rem;
    font-weight: 300;
}

img {
    width: 200px;
    height: 204px;
    padding-left: 1rem;
    padding-right: 1rem;
    float: inline-start;
    margin-left: -1rem;
}

.story {
    font-size: 0.8rem;
    line-height: 1.2rem;
    padding: 0.5em; 
}

h3 {
    font-size: 1.3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 0.5em
}

.facts li {
    font-size: 0.8rem;
    list-style: disc;
    margin-left: 1.2rem;
}

h4 {
    font-size: 1.3rem;
    padding-top: 1.2rem;
    padding-bottom: 0.2em;
    margin-left: 0.5em
}

form {
    padding: 1rem;
    position: relative;
}

fieldset {
    border: 1px solid black;
    margin: 0.5rem 1rem 1rem 0.7rem;
}

#name , #email , #message {
    display: block;
    margin: 0.5rem 0;
    width: 100%;
}

textarea {
    height: 4rem;
    resize: none;
}

h5 {
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.9rem;
}

label {
    font-size: 0.7rem;
    font-weight: 500;
}

input:nth-of-type(radio) {
    display: block;
}  


button {
    display: block;
    margin-top: 1rem;
    text-transform: uppercase;
    background-color: #D4E9E7;
    border: 1px solid black;
    padding: 0.5rem;
    font-size: 0.5rem;
}


footer {
    font-size: 0.7rem;
    text-align: right;
    background-color: #D4E9E7;
    width: 80%;
    max-width: 1200px;
    min-width: 400px;
    margin: 0 auto;
}

.copyright {
    padding: 0.5rem;
}

.thanks-container {
    background-color: #D4E9E7;
    width: 80vw;;
    height: 40vh;
    margin: 0 auto;
}

h6 {
    font-size: 4rem;
    font-weight: 600;
    color: #404441;
    margin: 50px 88px 100px 88px;
    text-align: center;
    padding-top: 5rem;
    text-transform: uppercase;
}

.thanks-footer {
    margin-top: 22rem;
}


/* .navigation li:first-child {
    padding-left: rem;
}

.navigation li:last-child {
    padding-right: 5rem;
}  */


/* .navigation a {
    text-decoration: none;
} */


/* .navigation li {
    list-style: none;
    display: inline;
    text-transform: uppercase;
    margin: 0 50px 0 74px;
    text-align: center;
    line-height: 2rem;
    font-size: 1.1rem;
    color: #404441;
    margin: 0 auto;
    padding: 4rem;
} */


/* nav ul{
    display: block;
    justify-content: center;
} */





/* .navigation ul li {
    display: inline;
} */

/* .navigation a {
    display: inline;
    padding: 20px;
    line-height: 2rem;
    font-size: 1.1rem;
    color: #404441;
} */

/* ul:nth-last-of-type(2) {
    margin: 0 auto; 
    display: inline-flex;
} */

/* li:nth-last-of-type(4) {
    justify-content: center;
} */

/* nav ul li {
    list-style: none;
    display: inline;
    margin: 0 60px 10px 60px;
    position: relative;
    font-size: 1.2rem;
    color: #404441;
    margin: 0 auto;
    text-align: center;
    flex: content;
    justify-content: center;
} */

/* nav li {
    list-style: none;
    border-right: 1px solid #404441;
    padding: 20px;
    text-transform: uppercase;
    position: relative;
    left: 250px;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    margin: 10px;
} */

/* nav ul li {
    list-style: none;
    display: inline;
    margin: 0 60px 10px 60px;
    position: relative;
    text-transform: uppercase;
    
    margin: 0 auto;
    flex: content;
    justify-content: center;  
}  */

/* nav li {
    list-style: none;
    border-right: 1px solid #404441;
    padding: 20px;
    /* position: relative; */
    /* left: 250px; */
    /* display: inline-flex; */
    /* text-align: center; */
    /* justify-content: center; */
    /* margin: 10px; */
/* } */

/* nav li:last-child {
    border-right: none;
    position: relative;
}  */




/* input, textarea, select {
    width: 100%;
    margin: 10px 0 0 0;
    min-height:  2em;
    } */

/* main {
    background-color: #D4E9E7;
    margin-top: 0 auto;
    width: 80vw;
    margin-left: 4.2rem;
    justify-content: center;
} */

 /* .body-container {
    background-color: #D4E9E7;
    margin: 0 auto; 
    width: 80vw;
    height: 100vh;
    display: contents;
    margin-left: 4.2rem; 
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    margin-right: 40px;
    margin-left: 40px;
    padding: 1em;
}  */

/* nav ul {
    list-style: none;
    margin: 0;
    padding-top: 1rem;
    display: inline-flex;
    text-align: center;
} */

/* li {
    margin: 0 50 0 50;
} */

/* ul {
    margin-right: 30%; 
    padding-inline-start: 0%;
} */




/* nav ul li:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -100px; 
    top: -20px;
    height: 3rem;
    width: 1px; 
    background-color: black; */

/* .container {
    width: 70vw;
    height: 40vh;
    margin: 0 auto;
} */

/* header {
    padding: 5rem;
    font-weight: 400;
    background-image: url("../images/lone-starfish-wide.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
} */

/* h1 {
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 3rem;
    margin: 0 auto;
}   */

/* div {
    background-color: #D4E9E7;
    width: 70vw;
    margin: 0 auto;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center center;
} */

/* body {
    background-color: #D4E9E7;
    margin: 0 3rem 0 3rem;
    position: absolute;
} 

header {
    text-align: center;
    width: 100%;
    height: fit-content;
    justify-content: center;
    padding: 1rem;
    margin: 2rem;
    text-align: center;
    border: none;
    
}

