html, body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* layout */
main {
    margin: 0 auto;
    max-width: 1200px;
    min-width: 400px; 
    width: 100%;
}

body {
    background-color: #aad4cf;
    padding-bottom: 2rem;
}

.container {
    background-image: url("../images/lone-starfish-wide.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 1040px;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center center;
    margin: 0 auto;
}

/* typography */
.overlay-text h1 {
    color: white;
    font-size: 3rem;
    text-align: center;
    display: flex;
    flex-grow: 1;
    padding-top: 9rem;
    padding-bottom: 5rem;
    margin: 0 auto;
}

/* Body layout structure */
.body-container {
    background-color: #D4E9E7;
    background-position: center center;
    width: 100%;
    max-width: 1025px;
    min-width: 400px;
    margin: 0 auto;
    padding-bottom: 1rem;
}


/* Navigation layout and typography */
nav a {
    color: inherit;
    text-decoration: none;
    letter-spacing: normal;
}


.navigation {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    flex-grow: 1;
}

.navigation li a{
    color: #404441;
    font-size: 1.3rem;
    text-transform: uppercase;
    justify-content: space-around;
    text-align: center;
    line-height: 2rem;
    margin: 0;
    padding: 6rem;
    flex-grow: 1;
}

/* used to create the borders framing the middle nav item */
.navigation li:nth-child(2){
    border-left: 1px solid #404441;
    border-right: 1px solid #404441;
}

/* Navigation hover reactive */
a:hover {
    font-weight: 800;
    text-decoration: underline;
    letter-spacing: 2px;
}

/* Typography */
h2 {
    font-size: 1.75rem;
    font-weight: 300;
    margin-left: 0.7rem;
    padding-top: 2rem;   
}

/* Layout */
img {
    float: inline-start;
    width: 250px;
    height: 257px;
    padding-top: 0.2rem;
    padding-right: 0.7rem;
    padding-bottom: 0.3rem;
    margin-left: 0.7em;
}

/* Typography */
p {
    font-size: 0.8rem;
    line-height: 1rem;
    padding-top: 0.4rem;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
}

h3 {
    font-size: 1.3rem;
    padding-top: 0;
    padding-bottom: 1rem;
    margin-left: 0.5em
}

.facts li {
    font-size: 0.8rem;
    list-style: disc;
    margin-left: 1.4rem;
}

h4 {
    font-size: 1.3rem;
    padding-bottom: 0.2em;
    margin-left: 0.5em
}

/* Layout */
form {
    padding: 1rem;
    position: relative;
}

fieldset {
    border: 1px solid black;
    margin: 0.5rem 1rem 1rem 0.7rem;
}

#name , #email , #message {
    display: block;
    width: 100%;
    margin: 0.5rem 0;
}

/* textarea resize:none to prevent infinite textarea box resizing from the user */
textarea {
    height: 4rem;
    resize: none; 
}


/* Typography */
h5 {
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.9rem;
}

label {
    font-size: 0.7rem;
    font-weight: 500;
}

/* Form hover reactive elements */
input:hover, textarea:hover {
    border: 4px solid #40978d;
}

input:nth-of-type(radio) {
    display: block;
}  

button {
    background-color: #D4E9E7;
    font-size: 0.5rem;
    border: 1px solid black;
    text-transform: uppercase;
    display: block;
    margin-top: 1rem;
    padding: 0.5rem;   
}

button:hover {
    background-color: #aad4cf;
    font-weight: 400;
    text-decoration: underline;
    border: 2px solid black;
    position: initial;
}

/* Copyright Information typography and layout */
footer {
    background-color: #D4E9E7;
    font-size: 0.7rem;
    text-align: right;
    width: 100%;
    max-width: 1025px;
    min-width: 400px;
    margin: 0 auto;
}

.copyright {
    padding: 0.5rem;
}

/* Used to style thank you page */
.thanks-container {
    background-color: #D4E9E7;
    width: 80vw;;
    height: 40vh;
    margin: 0 auto;
}

/* Typography */
h6 {
    color: #404441;
    font-size: 4rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin: 50px 88px 100px 88px;
    padding-top: 5rem;
}

.thanks-footer {
    margin-top: 22rem;
}