/* Global/Mobile Styles */
html{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin: 0;
    box-sizing: border-box;
}


*,
*:after,
*:before{
    box-sizing: inherit;
}

/* Heading Styles */
h1{
    font-size: 2.8rem;
    color: white;
    font-weight: 600;
    line-height: 1.3;
}

h2{
    font-size: 2rem;
    font-weight: 700;
    padding-top: 1.5rem;
}

h3{
    font-size: 1.5rem;
    padding-top: 1rem;
    font-weight: 700;
}

h4{
    font-size: 1.5rem;
    padding-left: 0.8rem;
    padding-top: 0.8rem;
    font-weight: 700;
}

h5 {
    font-size: 0.8rem;
    padding-left: 0.8rem;
    padding-top: 0.2rem;
    font-weight: 600;
}

/* Header + Logo Styles */

header {
    background-color: #222222; 
    width: 100%;
}

.logo img{
    height: 6rem;
    width: 6rem;
}

.logo:hover {
    background-color: #c78c06;
}

nav a,
nav a:link,
nav a:visited {
    display: flex;
    justify-content: space-evenly;
    color: #c78c06;
    text-decoration: none;
    padding: 1rem 0;
    margin: 0 auto;
}

nav a:hover, 
nav a:focus {
    background-color: #c78c06;
    color: #222222;
}

/* Navigation Styles */
label .search {
    position: absolute;
}

.search {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    width: 100%;
}

#searchbar {
    display: inline;
    justify-self: center;
    width: 88%;
    height: 2rem;
}


button[type="button"] {
   background-color: #222222;
   border: 1px solid #c78c06;
   padding: 0.3rem;
   width: 2rem;
   height: 2rem;
   margin-right: 0;
}

.fa-magnifying-glass {
    color: #c78c06;
    font-size: 1.3rem;
    margin: 0 auto;
}

button[type="button"]:hover {
    background-color: #c78c06;
}

.fa-magnifying-glass:hover {
    color: #222222;
}

/* Header Background/Overlay Styles */
#banner1 {
    display: flex;
    background-image: url(../images/main-banner.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: 100%;
    width: 100%;
    height: 100%; 
    background-position: center;
}

.welcome {
    color: white;
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 1.3;
    padding-bottom: 0.5rem;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    display: block;
    padding: 1rem;
    margin: 10% 0;
}

a {
    text-decoration: none;
}

#banner1 a:hover , #banner1 a:focus {
    color: #c78c06;
    background-color: #222222;
    text-decoration: underline;
}

.fa-caret-right {
    display: inline;
    margin-left: 1rem;
}

.link1 {
    display: inline-block;
    color: #222222;
    width: 12.5rem;
    background-color: #c78c06;
    padding: 1.5rem;
}


/* About Section Styles */
.container1 {
    background-color: #ffe6ac;
    margin-top: 0;
    margin: 0 auto;
}

#about h2 {
    font-weight: 700;
    margin-left: 1rem;
    padding-bottom: 1rem;
}

#image1 {
    width: 100%;
    justify-content: space-around;
    padding: 0.8rem 1rem 0 1rem;
}

#about1 , #about2 {
    font-size: 0.7rem;
    line-height: 1.3;
    font-weight: 300;
    margin: 0 1rem;
}

#about1 {
    padding-bottom: 0.8rem;
}

#about2 {
    padding-bottom: 1rem;
} 


/* Image Styles */
#image2 , #image3 , #image4 , #image5 , #image6 , #john , #bob {
    width: 100%; 
}

/* Our Services Styles */
.card1 , .card2 , .card3 , .card4 , .card5 , .card6 , .card7 {
    background-color: #ffe6ac;
    padding-bottom: 1rem;
    margin-top: 1rem;
    width: 100%;
}

#services {
    padding: 0 1rem;
}

#services h3 {
    margin-left: 0.8rem;
}

.ser {
    font-size: 0.7rem;
    line-height: 1.3;
    font-weight: 350;
    margin: 0.8rem;
}


/* Digital Plans Link Styles */
.link2 {
    display: inline-block;
    color: white;
    display: inline-block;
    width: 10.5rem;
    background-color: #222222;
    padding: 1.5rem;
    margin-left: 0.8rem;
}

/* Marketing Plans Link Styles */
.link3 {
    display: inline-block;
    color: white;
    display: inline-block;
    width: 12.5rem;
    background-color: #222222;
    padding: 1.5rem;
    margin-left: 0.8rem;
}

.link4 {
    display: inline-block;
    color: white;
    display: inline-block;
    width: 10.5rem;
    background-color: #222222;
    padding: 1.5rem;
    margin-left: 0.8rem;
}

.link5 {
    display: inline-block;
    color: white;
    display: inline-block;
    width: 10rem;
    background-color: #222222;
    padding: 1.5rem;
    margin-left: 0.8rem;
}

.link6 {
    display: inline-block;
    color: white;
    display: inline-block;
    width: 9.9rem;
    background-color: #222222;
    padding: 1.5rem;
    margin-left: 0.8rem;
}

#services a:hover , #services a:focus {
    background-color: white;
    color: #222222;
    text-decoration: underline;
}

/* Vision Image + Link Styles */
#vision {
    width: 100%;
}

#banner2 {
    display: flex;
    background-image: url(../images/vision.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    margin: 1rem 0 1rem 0;
    padding-bottom: 10px;
}

.vision h3 {
    color: white;
    margin-left: 1rem;
}

.vcontent {
    color: white;
    font-size: 0.7rem;
    line-height: 1.3;
    padding: 1rem;
}

.link7 {
    display: inline-block;
    color: white;
    display: inline-block;
    width: 11rem;
    background-color: rgba(15, 27, 49, 0.8);
    padding: 1.5rem;
    margin-left: 1rem;
    border: 1px solid #c78c06;
}

.vision a:hover , .vision a:focus {
    background-color: rgba(199, 140, 6, 0.8);
    color: #222222;
    border: 1px solid #0f1b31;
    text-decoration: underline;
}

/* Our Team Styles */
#ourteam {
    padding: 0 1rem;
}

#ourteam p {
    font-size: 0.7rem;
    line-height: 1.3;
    padding-left: 0.8rem;
    padding-bottom: 0.5rem;
    font-weight: 350;
}

.john {
    width: 100%;
}

.bob {
    width: 100%;
}

hr {
    border: 0.5px solid #c78c06;
    width: 95%;
}

/* Contact Styles */
#contact {
    margin-top: 1rem;
    padding: 0 1rem;
}

#contact h3 {
    padding: 1.5rem 0 0.8rem 0;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}

form label {
    padding: 0.3rem 0;
}

textarea {
    height: 10rem;
    resize: none;
}

button[type="submit"] {
    width: 4rem;
    border: none;
    background-color: #222222;
    color: #c78c06;
    margin-top: 1rem;
    margin-bottom: 1.4rem;
    font-size: 1.2rem;
    padding: 0.4rem;
}

button[type="submit"]:hover {
    color: #222222;
    background-color: #c78c06;
}


/* Table Styles */
table {
    border-collapse: separate;
    width: 100%;
    margin: 0 auto;
    border: 0.5px solid #222222;
}

td {
    border: 0.5px solid #222222;
    font-size: 0.7rem;
    text-align: left;
    padding: 0.8rem;
}

th {
    background-color: #ffe6ac;
    font-size: 0.7rem;
    border: 0.5px solid #222222;   /* Add cell borders */
    text-align: center;
    padding: 0.8rem;  
}

#map {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

#map iframe{
    width: 100%;
    height: 25rem
}

/* Footer Styles*/
footer {
    display: block;
    background-color: #222222;
    color: #c78c06;
}

.copyright1 {
    font-size: 0.8rem;
    padding-top: 1.5rem;
    margin-left: 1rem;
}

.copyright2 {
    font-size: 0.8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 1rem;
}

.copyright3 {
    display: inline;
    text-decoration: none;
    color: #c78c06;
}

a .copyright3 {
    display: inline-block;
    font-size: 0.8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 1rem;
}

/* Desktop Styles */

@media screen and (min-width: 760px) {
    body {
        max-width: 1200px;
        margin: 0 auto
    }

    /* Header + Logo + Navigation Styles */
    header {
        background-color: #222222;
        width: 100%;
        padding-top: 3rem;
    }

    .logo img{
        height: 6rem;
        width: 6rem;
        margin: 0 auto;
        display: inline-flex;
        align-self: center;
    }

    .logo {
        display: inline-flex;
        width: 7rem;
        height: 7rem;
        margin-left: 5rem;
    }

    .logo:hover {
        background-color: #c78c06;
    }

    .navigation {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: -5rem;
        margin-left: 14rem;
        position: absolute;
    }

    nav {
        margin: 0-auto;
    }

    nav a,
    nav a:link,
    nav a:visited {
        display: inline-flex;
        justify-content: space-evenly;
        color: #c78c06;
        text-decoration: none;
        width: 8rem;
        padding: 3rem 0.5rem;
        flex-wrap: wrap;
        font-size: 1.3rem;
    }
    
    nav a:hover, 
    nav a:focus {
        background-color: #c78c06;
        color: #222222;
    }
    
    label .search {
        position: absolute;
    }

    .search {
        display: inline;
        align-self: flex-end;
    }

    #searchbar {
        display: inline;
        width: 15rem;
        margin: 0;
        height: 2.2rem;
        padding-top: 0.4rem;
        margin-top: 0.3rem;
        margin-right: -0.2rem;
    }
    
    button[type="button"] {
        background-color: #222222;
        border: 1px solid #c78c06;
        width: 2.2rem;
        height: 2.2rem;
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .fa-magnifying-glass {
        color: #c78c06;
        font-size: 1.4rem;
        margin: 0 auto;
    }

    button[type="button"]:hover {
        background-color: #c78c06;
    }
    
    .fa-magnifying-glass:hover {
        color: #222222;
    }
     
    /* Header Background/Overlay Styles */
    h1 {
        font-size: 3.5rem;
        font-weight: 720;
        padding-right: 20rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    #banner1 {
        background-image: url(../images/main-banner.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding-top: 3rem;
        padding-bottom: 3rem;
        width: 100%;
        height: 100%;
        margin-top: 2rem;
    }
    
    .welcome {
        color: white;
        font-size: 1rem;
        font-weight: 350;
        line-height: 1.3;
    }
    
    .overlay {
        background-color: rgba(0, 0, 0, 0.7);
        height: 90%;
        width: 80%;
        margin: 0 auto;
    }
    
    .link1 {
        display: inline-block;
        color: #222222;
        width: 11.8rem;
        background-color: #c78c06;
        padding: 1.5rem;
    }
    
    /* About Section Styles */
    .container1 {
        display: flex;
        flex: 1 1 0;
        justify-content: center;
        align-items: center;
        background-color: #ffe6ac;
        margin-top: 0;
        padding: 2% 2% 2% 10%;
        width: 100%;
    }
    
    #image1 {
        display: inline-flex;
        width: 40%;
        height: 50%;
        padding: 0;
    }

    #about h2 {
        font-size: 2.5rem;
        font-weight: 670;
        width: 12rem;
        padding: 0;
    }

    #about1 , #about2 {
        font-size: 1rem;
        width: 100%;
        display: block;
        font-weight: 300;
    }
    
    .text1 {
        display: inline-block;
    }

    .text1 h2 {
        margin-bottom: 0.6rem;
    }

    /* Our Services Styles */
    .fa-caret-right {
        display: inline;
        margin-left: 0.3rem;
    }

    #services {
        padding: 2% 10% 0;
    }

    #services h3 {
        margin: 2.2rem 2rem 0 1.4rem;
        padding: 0;
    }

    .container2 {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 0.1fr 1fr 0.5fr;
        column-gap: 1rem;
        margin-bottom: 0;
    }

    .title {
        grid-area: 1/1/2/7;
    }

    .card1 {
        grid-area: 2/1/3/4;
        align-self: stretch;
    }

    .card2 {
        grid-area: 2/4/3/7;
        flex-grow: 2;
    }

    .card3 {
        grid-area: 3/1/4/3;
        align-self: stretch;
    }

    .card4 {
        grid-area: 3/3/4/5;
    }

    .card5 {
        grid-area: 3/5/4/7;
    }

    .ser {
        font-size: 1rem;
        padding: 1.4rem;
        margin: 0;
    }

    /* Digital Transformation Link Styles */
    .link2 , .link3 , .link4 , .link5 , .link6{
        display: flex;
        color: white;
        justify-content: center;
        width: 90%;
        margin: 0 auto;
        text-align: center;
        bottom: 0;
    }
        
    /* Vision Image + Link Styles */
    #banner2 {
        display: flex;
        background-image: url(../images/vision.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: auto;
    }
   
    #vision h3 {
        margin: 0;
        padding-bottom: 1rem;
    }

    .vision {
        padding: 2rem;
        margin-left: 8%;
        margin-right: 8%;
    }

    .vcontent {
        font-size: 1rem;
        padding: 1rem 0;
    }

    .link7 {
        display: inline-block;
        color: white;
        display: inline-block;
        width: 9.9rem;
        background-color: rgba(15, 27, 49, 0.8);
        padding: 1.5rem;
        margin-left: 0;
        border: 1px solid #c78c06;
    }
    
    
    /* Our Team Styles */
    #ourteam {
        padding: 0 10% 0;
        margin-bottom: 5rem;
    }

    #ourteam p {
        font-size: 1rem;
    }

    .container3 {
        width: 100%;
    }

    .john , .bob {
        width: 50%;
    }

    .card6 {
        display: flex;
        justify-content: center;
        margin-bottom: -2rem;
    }

    .card7 {
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: -2rem;
        padding-bottom: 0;
    }
        
    hr {
        border: 0.5px solid #c78c06;
        width: 95%;
    }
    
    /* Contact Styles */
    #contact {
        padding: 0 10% 0;
        margin-top: 0;
    }

    #contact h2 {
        padding: 0;
    }

    /* Form Styles */
    button[type="submit"]:hover {
        color: #222222;
        background-color: #c78c06;
    }
    
    .container4 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 0.2fr 2fr 0.5fr;
    }

    .title2 {
        grid-area: 1/1/2/7;
        width: auto;
        height: fit-content;
    }

    .form {
        grid-area: 2/1/3/2;
        column-gap: 1rem;
    }

    textarea {
        height: 10rem;
        resize: none;
    }

    .hours {
        grid-area: 3/1/4/3;
    }

    .box5 {
        grid-area: 2/2/3/3;
        padding-left: 1rem;
    }

    /* Table Styles */
   thead tr th {
        font-size: 1rem;
    }

    tbody tr td {
        font-size: 1rem;
    }

    
    /* Map Styles */
    iframe {
        width: 100%;
        height: 30rem;
    }

    /* Footer Styles*/
    footer {
        display: block;
        background-color: #222222;
        color: #c78c06;
        margin-top: 1rem;
    }
    
    .copyright3 {
        display: inline;
        text-decoration: none;
        color: #c78c06;
    }
    
    a .copyright3 {
        display: inline-block;
        font-size: 0.8rem;
        padding-top: 2rem;
        padding-bottom: 1.3rem;
        margin-left: 2rem;
    }
    
    .copyright1 {
        font-size: 0.8rem;
        padding-top: 2rem;
        margin-left: 7rem;
    }
    
    .copyright2 {
        font-size: 0.8rem;
        padding-top: 1.5rem;
        padding-bottom: 18px;
        margin-left: 7rem;
    }
    
}
