/* Global styles */
html{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    margin: 0;
    box-sizing: border-box;
}

/* body {
    max-width: 390px;
} */

*,
*:after,
*:before{
    box-sizing: inherit;
}

/* Heading Styles */

h1{
    font-size: 2.8rem;
    color: white;
    font-weight: 600;
    padding-left: 10px;
    line-height: 1.3;
}

h2{
    font-size: 2rem;
    font-weight: 700;
    padding: 10px 6px ;
}

h3{
    font-size: 1.5rem;
    padding-top: 15px;
    padding-left: 5px;
    padding-bottom: 6px;
    font-weight: 700;
}

h4{
    font-size: 1.3rem;
    padding-left: 10px;
    padding-top: 12px;
    font-weight: 600;
}

h5 {
    font-size: 0.8rem;
    padding-left: 10px;
    padding-top: 4px;
    font-weight: 550;
}

/* Header Styles */

header {
    background-color: #222222; 
    width: 100%;
}

.logo img{
    height: 30%;
    width: 30%;
}

.logo img:hover {
    background-color: #c78c06;
}

/* Navigation Styles */

nav ul  {
    list-style: none;
    text-align: center;
}

nav ul li {
    color: #c78c06;
    padding: 1rem;
}

nav a,
nav a:link,
nav a:visited {
    display: flex;
    justify-content: space-evenly;
    color: #c78c06;
    display: block;
    text-decoration: none;
    /* width: 100%; */
    padding: 5px;
    margin: 0 auto;
}

nav a:hover, 
nav a:focus {
    background-color: #c78c06;
    color: #222222;
}


.search {
    display: flex;
    margin: 0 auto;
    width: 100%;
    /* height: auto; */
}

#searchbar {
    display: inline;
    justify-self: center;
    width: 85%;
    height: 35px;
    margin: 0 auto;
}

#icon1 {
    display: inline-flex;
    width: 35px;
    height: 35px;
    align-content: flex-end;
    /* margin-right: 10%; */
    /* margin-right: 2%; */
    /* margin-bottom: 10px; 
    /* margin-top: 10px;  */
}

/* .search {
    display: flex; 
    margin: 0 auto;
} */

/* Header Background/Overlay Styles */

#banner1 {
    display: flex;
    background-image: url(../images/main-banner.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: 100%;
    width: 100%;
    height: 100%; 
    background-position: center;
}

/* #banner1  , img {
    width: 100%;
    z-index: -1;
} */

/* .content {
    display: block;
    padding-bottom: 10px;
    margin-top: 10px;
} */

.welcome {
    color: white;
    font-size: 0.6rem;
    font-weight: 400;
    line-height: 1.3;
    margin: 6px;
    padding-bottom: 5px;
}

.overlay {
    background-color: rgb(34, 34, 34, 0.7);
    display: block;
    padding: 5%;
    margin: 10% 0;
    /* height: fit-content; */
    /* margin: 30px 0; */
    /* padding: 10px auto 10px auto; */
}

/* Connect Link Styles */

a {
    text-decoration: none;
}

.box1 {
    background-color: #c78c06;
    padding: 25px;
    width: 185px;
    margin: 0 12px;
    display: flex;
    position: relative;
    /* margin:  2px 270px 2px 12px; */
    /* margin-top: 2px; */

}

.link1 {
    display: inline-block;
    color: #222222;
    width: 80%;
}

#icon2 {
    align-self: flex-end;
    padding-left: 5px;
}


/* About Section Styles */

.container1 {
    /* display: flex; */
    background-color: #ffe6ac;
    margin-top: 0;
}

#about h2 {
    font-weight: 600;
}

#image1 {
    /* display: flex; */
    /* position: absolute; */
    width: 100%;
    justify-content: space-around;
    padding: 10px 10px 0 10px;
}

/* #about {
    display: flex;
    background-color: #ffe6ac;
    padding: 10px;
} */

#about1 , #about2 {
    font-size: 0.6rem;
    line-height: 1.3;
    /* padding: 5px 0; */
    font-weight: 300;
    margin: 0 10px;
}

#about1 {
    padding-bottom: 7px;
}

#about2 {
    padding-bottom: 12px;
}

.container2 {
    background-color: white;
    padding: 10px;
    margin: 0 auto;
}

/* Image Styles */
#image2 , #image3 , #image4 , #image5 , #image6 , #john , #bob {
    width: 100%; 
    
}

.card1 , .card2 , .card3 , .card4 , .card5 , .card6 , .card7 {
    background-color: #ffe6ac;
    /* margin: 5px; */
    padding-bottom: 10px;
    margin-top: 10px;
    /* margin-left: 10px;
    margin-right: 10px; */
    /* width: 100%; */

}

/* Our Services Styles */

.ser {
    font-size: 0.6rem;
    line-height: 1.3;
    padding-left: 10px;
    padding-bottom: 10px;
    font-weight: 350;
}

/* Digital Plans Link Styles */
.box2 {
    background-color: #222222;
    padding: 20px;
    width: 27%; 
    margin-left: 10px;
    margin-top: 2px; 
}

.link2 {
    display: inline-block;
    color: white;
}

#icon3 {
    display: inline;
    width: 12px;
    height: 12px;
    margin-left: 5px;
}


/* Marketing Plans Link Styles */

.box3 {
    background-color: #222222;
    padding: 20px;
    width: 32%; 
    margin-left: 10px;
    margin-top: 2px; 
}

.link3 {
    display: inline-block;
    color: white;
}

#icon4 {
    display: inline;
    width: 12px;
    height: 12px;
    margin-left: 5px;
}

/* Video Plans Link Styles */
.box4 {
    background-color: #222222;
    padding: 20px;
    width: 27%; 
    margin-left: 10px;
    margin-top: 2px; 
}

.link4 {
    display: inline-block;
    color: white;
}

#icon5 {
    display: inline;
    width: 12px;
    height: 12px;
    margin-left: 5px;
}

/* Web Plans Link Styles */
.box5 {
    background-color: #222222;
    padding: 20px;
    width: 25%; 
    margin-left: 10px;
    margin-top: 2px; 
}

.link5 {
    display: inline-block;
    color: white;
}

#icon6 {
    display: inline;
    width: 12px;
    height: 12px;
    margin-left: 5px;
}

/* Print Plans Link Styles */
.box6 {
    background-color: #222222;
    padding: 20px;
    width: 25%; 
    margin-left: 10px;
    margin-top: 2px; 
}

.link6 {
    display: inline-block;
    color: white;
}

#icon7 {
    display: inline;
    width: 12px;
    height: 12px;
    margin-left: 5px;
}

/* Vision Image + Link Styles */

#banner2 {
    display: flex;
    background-image: url(../images/vision.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    /* height: 170px; */
    margin: 15px 0 15px 0;
    padding-bottom: 10px;

}

.vision h3 {
    color: white;
}

.vcontent {
    color: white;
    font-size: 0.7rem;
    line-height: 1.3;
    padding: 8px 8px 10px 10px;
}

.box7 {
    background-color: rgba(22, 32, 51, 0.8);
    border: 1px solid #c78c06;
    padding: 15px;
    width: 27%; 
    margin-left: 10px;
    margin-top: 2px; 
}

.link7 {
    display: inline-block;
    color: white;
}

#icon8 {
    display: inline;
    width: 12px;
    height: 12px;
    margin-left: 10px;
}

/* Our Team Styles */

#ourteam p {
    font-size: 0.6rem;
    line-height: 1.3;
    padding-left: 10px;
    padding-bottom: 10px;
    font-weight: 350;
}

.john {
    width: 100%;
}

.bob {
    width: 100%;
}

hr {
    border: 0.5px solid #c78c06;
    width: 95%;
}

/* Contact Styles */

#contact {
    margin-top: 40px;
}

/* Form Styles */

form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 97%;
}

#name #email {
    width: 97%;
}

form label {
    padding: 7px 0;
}

textarea {
    height: 90px;
    resize: none;
    width: 97%;
}

button {
    width: 52px;
    border: none;
    background-color: #162033;
    color: #c78c06;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    /* text-align: center; */
}


/* Table Styles */

table {
    border-collapse: separate;
    width: 96%;
    margin: 0 auto;
    border: 0.5px solid #222222;
}

td {
    border: 0.5px solid #222222;
    font-size: 0.7rem;
    text-align: left;
    padding: 10px;

}

th {
    background-color: #ffe6ac;
    font-size: 0.7rem;
    border: 0.5px solid #222222;   /* Add cell borders */
    text-align: center;
    padding: 10px;  
}


#map {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}


/* Footer Styles*/
footer {
    display: block;
    background-color: #222222;
    color: #c78c06;
}

.copyright3 {
    display: inline;
    text-decoration: none;
    color: #c78c06;
}

a .copyright3 {
    display: inline-block;
    font-size: 0.8rem;
    padding-top: 15px;
    padding-bottom: 18px;
    margin-left: 15px;
}

.copyright1 {
    font-size: 0.8rem;
    padding-top: 20px;
    margin-left: 15px;
}

.copyright2 {
    font-size: 0.8rem;
    padding-top: 15px;
    padding-bottom: 18px;
    margin-left: 15px;
}

/* Desktop Styles */

@media screen and (min-width: 760px) {
    body {
        width: 1200px;
        margin: 0 auto
    }

    header {
        background-color: #222222;
        width: 100%;
        height: 100px;
        display: flex;

    }
    
  
    
    /* Navigation Desktop Styles */
    nav ul  {
        list-style: none;
        /* text-align: center; */
    }
    
    nav ul li {
        color: #c78c06;
        padding: 1rem;
        display: inline;
    }
    
    nav a,
    nav a:link,
    nav a:visited {
        display: inline;
        justify-content: space-evenly;
        color: #c78c06;
        text-decoration: none;
        width: 100px;
        padding: 5px;
    }
    
    nav a:hover, 
    nav a:focus {
        background-color: #c78c06;
        color: #222222;
    }
    
    #searchbar {
        display: flex;
        justify-self: center;
        width: 85%;
        margin: 10px 0 10px 10px;
    }
    
    #icon1 {
        display: flex;
        width: 10%;
        height: 10%;
        justify-content: flex-end;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    .search {
        display: flex;
    }
   
    
    /* Header Background/Overlay Styles */
    #banner1 {
        display: flex;
        background-image: url(../images/main-banner.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        /* background-position: center; */
        width: 100%;
        height: 293px;
    }
    
    .content {
        display: block;
        padding-bottom: 10px;
        margin-top: 10px;
    }
    
    .welcome {
        color: white;
        font-size: 0.6rem;
        font-weight: 400;
        line-height: 1.3;
        margin: 6px;
        padding-bottom: 5px;
    }
    
    .overlay {
        display: flex;
        background-color: rgb(34, 34, 34, 0.7);
        height: fit-content;
        margin: 30px 0;
        padding: 10px auto 10px auto;
    }
    
    
    /* Connect Link Styles */
    
   
    
    
    /* About Section Styles */
    
    
    
    /* Image Styles */
    #image2 , #image3 , #image4 , #image5 , #image6 , #john , #bob {
        min-width: 100%; 
        
    }
    
    /* Digital Plans Link Styles */
    
    
    
    /* Marketing Plans Link Styles */
    
    
    
    /* Video Plans Link Styles */
    
    
    /* Web Plans Link Styles */
    
    
    
    /* Print Plans Link Styles */
    
    
    /* Vision Image + Link Styles */
    #banner2 {
        display: flex;
        background-image: url(../images/vision.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 170px;
        margin: 15px 0 15px 0;
    }
   
    
    /* Our Team Styles */
    .team {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .john {
        grid-column-start: 2;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 1;

    }

    .card6 {
        grid-column: 2;
        grid-row: span 2;
    }

    .bob {
        grid-column: 2;
        grid-row: 2;
    }

    .card7 {
        grid-column: 1;
        grid-row: 2/ span 2 ;
    }

    /* .card1 , .card2 , .card3 , .card4 , .card5 , .card6 , .card7 {
        background-color: #ffe6ac;
        margin: 5px;
        padding-bottom: 10px;
        margin-top: 10px;
    } */
    /* #ourteam p {
        font-size: 0.6rem;
        line-height: 1.3;
        padding-left: 10px;
        padding-bottom: 10px;
        font-weight: 350;
    } */
    
    hr {
        border: 0.5px solid #c78c06;
        width: 95%;
    }
    
    /* Contact Styles */
    
   
    
    /* Form Styles */
    
    
    
    
    /* Table Styles */
    
   
    
    /* Footer Styles*/
    footer {
        display: block;
        background-color: #222222;
        color: #c78c06;
    }
    
    .copyright3 {
        display: inline;
        text-decoration: none;
        color: #c78c06;
    }
    
    a .copyright3 {
        display: inline-block;
        font-size: 0.8rem;
        padding-top: 15px;
        padding-bottom: 18px;
        margin-left: 15px;
    }
    
    .copyright1 {
        font-size: 0.8rem;
        padding-top: 20px;
        margin-left: 15px;
    }
    
    .copyright2 {
        font-size: 0.8rem;
        padding-top: 15px;
        padding-bottom: 18px;
        margin-left: 15px;
    }
    
}
